<a href="https://soundcloud.com/swimmingfailure"><img src="/img/soundcloud.png" alt="soundcloud"></a>
<a href="https://swimmingfailure.bandcamp.com/"><img src="/img/bandcamp.png" alt="bandcamp"></a>
<a href="https://www.youtube.com/channel/UCOn6v2Q99wo8oi_EaJ1GbsA"><img src="/img/youtube.png" alt="youtube"></a>
<a href="https://www.instagram.com/swimmingfailure"><img src="/img/instagram.png" alt="instagram"></a>
<a href="https://twitter.com/swimmingfailure"><img src="/img/twitter.png" alt="twitter"></a>
<a href="https://www.facebook.com/swimmingfailure"><img src="/img/facebook.png" alt="facebook"></a>