.splash {
    width: 100vw;
    height: 100vh;
    background: #111;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

.splash img {
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    
}

.splash h1 {
    color: white;
    font-size: 10vw;
    font-family: 'Libre Barcode 128 Text', cursive;
}