:root {
    --white: white;
    --black: #111;
    --border-width: 2px
}

html {
    background: var(--black);
    color: var(--white);
    font-family: 'Sen', sans-serif;
    /*font-family: 'Libre Barcode 128 Text', cursive;*/
}

a {
    color: var(--white);
}

a:hover {
   text-decoration: underline; 
}