:root {
    --white: white;
    --black: #111;
    --border-width: 2px;
}

html {
    background: var(--black);
    color: var(--white);
    font-family: 'Sen', sans-serif;
    /*font-family: 'Libre Barcode 128 Text', cursive;*/
}

a {
    color: var(--white);
}

a:hover {
   text-decoration: underline; 
}

h1 {
    font-size: clamp(20px, 6vw, 150px);
}

#nav {
    background: var(--black);
    position: fixed;
    top: 0px;
    z-index: 1000;
    height: 50px;
    width: 100vw;
    border-bottom: solid var(--white) var(--border-width);
    text-align: center;
}

#nav li {
    display: inline-block;
    position: relative;
    font-size: 20px;
    top: 15px;
    width: 50px;
    margin-left: 3vw;
    margin-right: 3vw;
}

#footer {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 100vw;
    text-align: center;
}

#footer img {
    width: 30px;
    margin-left: clamp(10px, 2vw, 20px);
    margin-right: clamp(10px, 2vw, 20px);
}