body {
    text-align: center;
}

.logo {
    margin-top: 10px;
    width: 100px;
}

#tracks {
    margin: auto;
    margin-top: 25px;
    width: clamp(600px, 90vw, 2000px);
}

.track {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    width: clamp(200px, 20vw, 800px);
    height: clamp(200px, 20vw,800px);
    max-width: 300px;
    max-height: 300px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: var(--white);
    font-size: 20px;
    font-weight: 800;
    border-radius: 10px;
    position: relative;
    vertical-align: top;
}

/* Non-intrusive drop shadow for tracks*/
.track:before {
    content: "";
    box-shadow: 0px 0px 25px 0px black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.track:hover {
    cursor: pointer;
}


.track p {
    background: var(--black);
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin-bottom: 5px;
    opacity: 0%;
    -o-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

.track:hover p, .track.active p, .track.paused p {
    opacity: 100%;
}

.track .artist {
    font-weight: 500;
}

.track .date {
    font-size: 12px;
    font-weight: 500;
}

.track.active {
    outline: solid var(--white) 5px;
    outline-offset: -5px;
}

.track.paused {
    outline: solid var(--gray) 5px;
    outline-offset: -5px;
}

.track.active:before, .track.paused:before {
    outline: solid var(--black) 5px;
    outline-offset: -10px;
    z-index: 1000;
}
