#nav {
    position: fixed;
    top: 0px;
    z-index: 1000;
    height: 50px;
    width: 100vw;
    border-bottom: solid var(--white) var(--border-width);
    text-align: center;
}

#nav li {
    display: inline-block;
    position: relative;
    font-size: 20px;
    top: 15px;
    width: 100px;
    margin-left: 3vw;
    margin-right: 3vw;
}