.splash {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}

.splash .logo {
    width: 30vw;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}